// Variable Overrides 

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

// Variable Overrides 
$theme-colors: (
  "primary": #d95700
);

$body-bg: #d95700;

%img {
  width: 100%;
  height: 100vh;
}
.carousel-inner img {
  @extend %img;
}
%img2 {
  width: 100%;
  height: 200px;
}
.template img {
  @extend %img2;
}